
.DS_Store
ArcadeGameTemplate.xcodeproj/project.pbxproj
ArcadeGameTemplate.xcodeproj/project.xcworkspace/xcuserdata/josemigueltorreschaveznava.xcuserdatad/UserInterfaceState.xcuserstate
ArcadeGameTemplate.xcodeproj/xcuserdata/josemigueltorreschaveznava.xcuserdatad/xcschemes/xcschememanagement.plist
